body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(186, 240, 240);
}
.header {
    text-align: center; 
    background-color: rgb(186, 240, 240); 
    margin: 0;
}
.head { 
    text-align: center; 
    background-color: rgb(123, 187, 187);
    margin: 0; 
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.s;
    font-weight: bolder;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    padding: 20px 20px 20px 20px;
}
h4 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 2.5rem; 
    font-weight: bolder;
    padding: 20px 20px 20px 20px;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(16, 19, 54);
    font-weight: bolder;
}
h6 {
    font-family: 'Montserrat';
    font-weight: bold;
}
p {
    text-align: center;
    font-family: 'Montserrat';
    line-height: 1.5px;
    font-size: 1.5rem;
    padding-top: 8px;
}
.img {
    /* width:800px; 
    height: 750px;  */
    /* max-width: 700px; */
    margin: 10px 10px 0 20px;
    width: auto;
    height: 40rem;
    border: 5px;
    display: flex;
}
/* .img-container {
    position: relative;
} */
.btn {
    width: 450px;
    height: 50px;
    margin: 10px 10px 0 0;
    padding-top: 25px;
    background-color: #fff;
}
.bco{
    text-align: center;
    background-color: rgb(186, 240, 240);
}
.li{
    background-color: rgb(186, 240, 240);
}
/* day 1 */
.video {
    width: auto;
    height: 500px;
    margin: 0px 30px 30px 50px;
    display: flex;
    background-color: azure;
}
.tit {
    background-color: rgba(1, 46, 46, 0.514);
}
.ab {
    padding-top: 40px;
    padding-bottom: 20px;
}
hr {
    border: solid rgb(10, 48, 46);
}
.bt{
    padding-top: 15px;
    margin: 20px 20px 0 0;
}
.t {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 0 10px 0;
    background-color: rgba(1, 46, 46, 0.514);
}
.ss {
    margin-top: 50px;
    margin-bottom: 30px;
}
#footer {
    padding: 25px;
    text-align: center;
    background-color: rgba(1, 46, 46, 0.514);
}
.ic {
    padding: 15px;
}